        <!-- Form Handling -->
        <form action="/api/users" method="POST" id="add_user">
            <div class="new_user">

                <div class="form-group">
                    <label for="name" class="text-light">name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="Firstname Lastname">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">email</label>
                    <input type="text" name="email" value="" placeholder="example@email.com">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">phone</label>
                    <input type="text" name="phone" value="" placeholder="+212601010101">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">gender</label>
                    <div class="radio inline">
                        <input type="radio" name="gender" value="Male">
                        <label for="name" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="gender" value="Female">
                        <label for="name" class="radio-label">Female</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>
        <!-- /Form Handling -->